$first-font: "PT Sans";
$font-sans-serif-fallback: Arial, Helvetica, sans-serif;
$main-font: $first-font, $font-sans-serif-fallback;

$blue-sky: #81b3d2;

$mobile-widths-only: ("max-width: 767px");
$tablet-widths: ("min-width: 768px");
$desktop-widths: ("min-width: 1200px");
