.advice {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: white;
  @media ($tablet-widths) {
    display: flex;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 43px;
  }
  @media ($desktop-widths) {
    padding-bottom: 63px;
  }


  .advice__wrapper {
    width: 280px;
    margin: 0 auto;
    @media ($tablet-widths) {
      display: flex;
      justify-content: center;
      width: 728px;
      margin: 0 auto;
    }
    @media ($desktop-widths) {
      justify-content: flex-start;
      width: auto;
    }
  }


  .advice__title {
    width: 70%;
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: $main-font;
    font-size: 18px;
    line-height: 26px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    @media ($tablet-widths) {
      width: 100%;
      margin-left: 0;
      margin-top: 28px;
      margin-bottom: 20px;
      font-size: 21px;
    }

    &--gift {
      margin-left: 13px;
      @media ($tablet-widths) {
        margin-left: 0;
      }
    }
  }


  .advice__description {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    margin-left: 50px;
    font-family: $main-font;
    font-size: 14px;
    line-height: 21px;
    color: $dark-grey;
    font-weight: 400;
    text-transform: uppercase;
    @media ($tablet-widths) {
      margin-left: 0;
    }
  }


  .advice__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2px;
    padding-right: 20px;
    @media ($tablet-widths) {
      width: 22.33%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-right: 98px;
      padding-right: 0;
    }
    @media ($desktop-widths) {
      width: 33.33%;
      margin-right: 0;
      padding-right: 56px;
      padding-left: 56px;
    }

    &--gift {
      @media ($tablet-widths) {
        order: 3;
        margin-right: 0;
      }
    }

    &--food {
      @media ($tablet-widths) {
        width: 21%;
        order: 2;
      }
      @media ($desktop-widths) {
        width: 33.33%;
      }
    }
  }


  .advice__picture {
    width: 40px;
    @media ($tablet-widths) {
      width: 76px;
    }

    &--gift {
      width: 31px;
      margin-left: 6px;
      @media ($tablet-widths) {
        width: 62px;
        margin-top: -2px;
        margin-left: -4px;
      }
    }

    &--food {
      width: 39px;
      margin-top: 7px;
      @media ($tablet-widths) {
        width: 75px;
        margin-top: 4px;
      }
    }
  }
}
