.btn {
  width: 280px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  outline: none;
  font-family: $main-font;
  font-size: 21px;
  line-height: 26px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;

  box-sizing: border-box;
  &--search {
    width: 280px;
    margin-top: 22px;
    background-color: $blue-sky;
    @media ($tablet-widths) {
      width: 460px;
    }
    &:hover {
      background-color: darken($blue-sky, 5%);
      transition: 0.3s;
    }
    &:active {
      background-color: darken($blue-sky, 10%);
      color: rgba(255, 255, 255, 0.3);
      transition: 0.3s;
    }
  }
  &--like {
    width: 23px;
    height: 21px;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    background: url("../../img/icon-like.svg") no-repeat center center;
  }
}
