.btn {
  width: 280px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  outline: none;
  font-family: $main-font;
  font-size: 21px;
  line-height: 26px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  width: 280px;
  background-color: $blue-sky;
  @media ($tablet-widths) {
    width: 460px;
  }
  &--submit {
    @media ($tablet-widths) {
      width: 324px;
      padding-right: 21px;
    }
    @media ($desktop-widths) {
      width: 480px;
      padding-right: 8px;
    }
  }
  &:hover {
    background-color: darken($blue-sky, 5%);
    transition: 0.3s;
  }
  &:active {
    background-color: darken($blue-sky, 10%);
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
  }
  &--like {
    width: 23px;
    height: 21px;
    padding: 0;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: transparent;
    }
    & svg {
      fill: rgba(0, 0, 0, 0.3);
      @media ($desktop-widths) {
        fill: white;
      }
    }
  }
  &--disabled {
    color: white;
    background-color: #e5e5e5;
    &:hover {
      background-color: #e5e5e5;
    }
    &:active {
      color: white;
      background-color: #e5e5e5;
    }
  }
  // состояние в прогрессе
  &--progress {
    animation: progress 1.5s infinite alternate;
    @keyframes progress {
      0% {
        background-color: #5496bd;
      }
      100% {
        background-color: #3e84ae;
      }
    }
  }
  &--popup-succes {
    font-size: 18px;
  }
  &--popup-failure {
    width: 180px;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
