.copyright {
  display: flex;
    /* align-items: center; */
    justify-content: flex-end;
  font-family: $main-font;
    font-size: 14px;
    line-height: 26px;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
  & span {
    margin-top: 12px;
  }
  &__logo {
    display: inline-block;
    /* margin-left: 1px; */
    /* width: 52px; */
    margin-right: 88px;
    margin-left: 6px;
    margin-top: 5px;
    & svg {
     width: 43px;
     fill: black;
    }
    &:hover svg {
      fill: $blue-sky;
      transition: 0.2s;
    }
    &:active svg {
      fill: rgba(0,0,0,0.3);
      transition: 0.2s;
    }
  }
}
