.form {
  text-align: center;
  @media ($tablet-widths) {
    width: 648px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media ($desktop-widths) {
    width: 960px;
  }


  .form__footnote {
    display: none;
    @media ($tablet-widths) {
      display: inline-block;
      font-family: $main-font;
      font-size: 17px;
      line-height: 26px;
      font-weight: 400;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.01rem;
    }
  }
}
