.full-name {
  padding-top: 7px;
  @media ($tablet-widths) {
    width: 50%;
    display: table-cell;
    box-sizing: border-box;
    text-align: left;
    padding-left: 56px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-left: 1px solid #dbdbdb;
  }
  @media ($desktop-widths) {
    padding-left: 79px;
  }


  &__wrapper {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 9px;
    padding-bottom: 5px;
    @media ($tablet-widths) {
      padding-top: 45px;
      width: 100%;
      padding-bottom: 0;
    }
  }


  &__legend {
    @media ($tablet-widths) {
      margin-top: 0;
    }
  }


  &__input-container {
    display: flex;
    margin-bottom: 20px;
    &:last-child {
      @media ($tablet-widths) {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    align-self: center;
  }

  &__input {
    flex-grow: 1;
    margin-left: 18px;
    padding-right: 20px;
    // width: 70%;
    width: 50%;
  }
}
