.input {
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f2f2f2;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 900;
  line-height: 26px;
  color: black;
  border: none;
  outline: none;
  &::-webkit-input-placeholder {
    color: black;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: black;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: black;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
    opacity: 1;
  }
  &:hover {
    background-color: #e5e5e5;
    transition: 0.3s;
  }
  &:focus {
    background-color: white;
    box-shadow: inset 0px 0px 0px 3px #e5e5e5;
  }
}
