.intro {
  position: relative;
  padding-top: 40px;
  padding-bottom: 28px;
  text-align: center;
  @media ($tablet-widths) {
    padding-top: 51px;
    padding-bottom: 37px;
  }
  @media ($desktop-widths) {
    background-color: white;
  }

  // верхняя треугольная маска
  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 16px;
    bottom: 0;
    width: 100%;
    background: url("../img/bg-intro-triangle-mobile--blue-sky.svg") no-repeat;
    background-size: 100% auto;
    @media ($tablet-widths) {
      display: none;
    }
  }

  // внутренние страницы
  &--inner {
    padding-bottom: 13px;
    // border-bottom: 1px solid #e5e5e5;
    @media ($tablet-widths) {
      width: 446px;
      margin-bottom: 0;
      padding-top: 74px;
      padding-bottom: 54px;
      margin: 0 auto;
      // border-bottom: none;
    }
    @media ($desktop-widths) {
      // width: 100%;
      padding-top: 112px;
      padding-bottom: 56px;
    }

    // бех маски
    &::after {
      display: none;
    }
  }

  // блок интро в нижней части страницы
  &--outro {
    padding-top: 27px;
    padding-bottom: 50px;
    @media ($tablet-widths) {
      padding-top: 56px;
      padding-bottom: 59px;
    }
    @media ($desktop-widths) {
      padding-bottom: 68px;
    }

    // без маски
    &::after {
      display: none;
    }
  }

  &--video {
    padding-bottom: 20px;
    @media ($tablet-widths) {
      margin-bottom: 39px;
    }
    @media ($desktop-widths) {
      padding-top: 72px;
      margin-bottom: 37px;
    }
  }

  &--form {
    @media ($desktop-widths) {
      padding-bottom: 38px;
    }
  }


  // заголовок
  .intro__title {
    max-width: 445px;
    margin: 0 auto;
    padding-right: 8%;
    padding-left: 8%;
    font-family: $main-font;
    font-size: 18px;
    line-height: 26px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    @media ($tablet-widths) {
      font-size: 21px;
    }

    // для внутренних страниц
    &--inner {
      @media ($tablet-widths) {
        font-size: 30px;
      }
    }

    &--outro {
      font-size: 21px;
      @media ($tablet-widths) {
        font-size: 30px;
      }
    }

    &--video {
      font-size: 18px;
      @media ($tablet-widths) {
        font-size: 30px;
      }
    }
  }


  // текстовая часть
  .intro__description {
    margin-top: 27px;
    padding-right: 8%;
    padding-left: 8%;
    font-family: $main-font;
    font-size: 14px;
    line-height: 26px;
    color: $dark-grey;
    font-weight: 400;
    text-transform: uppercase;
    // для внутренних страниц

    &--inner {
      padding-right: 24px;
      padding-left: 24px;
      line-height: 24px;
      margin-top: 25px;
      @media ($tablet-widths) {
        //   padding-right: 102px;
        // padding-left: 102px;
        padding: 0;
        margin-top: 31px;
      }
      @media ($desktop-widths) {
        //   padding-right: 386px;
        // padding-left: 386px;
        margin-top: 31px;
      }
    }

    // блок интро в нижней части страницы
    &--outro {
      margin-top: 19px;
      line-height: 24px;
      @media ($tablet-widths) {
        margin-top: 30px;
        padding-right: 186px;
        padding-left: 186px;
      }
      @media ($desktop-widths) {
        padding-left: 402px;
        padding-right: 402px;
      }
    }

    &--video {
      margin-top: 27px;
      @media ($tablet-widths) {
        margin-top: 30px;
        padding-left: 176px;
        padding-right: 176px;
      }
      @media ($desktop-widths) {
        margin-top: 30px;
        padding-left: 413px;
        padding-right: 413px;
      }
    }
  }


  // кнопка поиска, появляется = блок интро в нижней части страницы
  .intro__search-btn {
    margin-top: 22px;
    @media ($tablet-widths) {
      margin-top: 29px;
    }
    @media ($desktop-widths) {
      margin-top: 34px;
    }
  }
}
