.photo {
  // width: 280px;
  // margin: 0 auto;
  @media ($tablet-widths) {
    width: 648px;
    margin: 0 auto;
  }
  @media ($desktop-widths) {
    width: 100%;
  }


  .photo__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
