.player {
  &__progress-bar-field {
    padding: 23px;
    background: rgba(0, 0, 0, 0.6);
    width: 73%;
    margin: 0 auto;
    position: relative;
    margin-top: -68px;
  }
  &__controls {
    padding: 20px;
    background: #e5e5e5;
    width: 75%;
    margin: 0 auto;
  }
}
