.review {
  // width: 280px;
  // margin: 0 auto;
  margin-bottom: 42px;
  @media ($tablet-widths) {
    margin-bottom: 63px;
  }
  @media ($desktop-widths) {
    margin-bottom: 68px;
  }
  &__form {
    margin-top: -10px;

  }
}
