.user-contacts {
  padding-top: 6px;
  @media ($tablet-widths) {
    width: 100%;
    border-top: 1px solid #dbdbdb;
    margin-top: 81px;
    margin-bottom: 49px;
  }
  @media ($desktop-widths) {
    margin-top: 79px;
    margin-bottom: 49px;
  }


  .user-contacts__wrapper {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 28px;
    @media ($tablet-widths) {
      width: 100%;
      padding-top: 5px;
    }
    @media ($desktop-widths) {
      flex-direction: row;
      padding-top: 56px;
    }
  }


  .user-contacts__input-container {
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 42px;
    @media ($tablet-widths) {
      margin-bottom: 24px;
    }
    @media ($desktop-widths) {
      width: 50%;
      display: flex;
      margin-bottom: 0;
    }

    &:first-child {
      @media ($desktop-widths) {
        padding-right: 80px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }


  .user-contacts__legend {
    @media ($tablet-widths) {
      position: relative;
      top: -19px;
      background: white;
      width: 360px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }


  .user-contacts__label {
    position: relative;
    text-align: left;
    margin-left: 22px;
    @media ($tablet-widths) {
      display: block;
      padding-right: 214px;
    }
    @media ($desktop-widths) {
      align-self: center;
      padding-right: 0;
      margin-left: 0;
      margin-right: 21px;
    }

    &--tel::before {
      display: block;
      position: absolute;
      top: 91px;
      left: 0;
      width: 191px;
      height: 10px;
      content: "Ошибка, перепроверьте номер";
      font-family: $main-font;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #ff5c5c;
      text-transform: none;
      @media ($tablet-widths) {
        top: 0;
        left: 436px;
      }
      @media ($desktop-widths) {
        top: -51px;
        left: 106px;
      }
    }
  }


  .user-contacts__label span {
      @media ($desktop-widths) {
        display: none;
      }
    }


  .user-contacts__input {
    box-sizing: border-box;
    margin-top: 7px;
    width: 100%;
    padding-right: 68px;
    @media ($tablet-widths) {
      align-self: center;
    }
    @media ($desktop-widths) {
      flex-grow: 1;
      width: auto;
      margin-top: 0;
      margin-bottom: 0;
    }

    &--tel {
      background-image: url("../img/icon-phone.svg"), linear-gradient(to left, #e6e6e6 58px, #f2f2f2 58px);
      background-repeat: no-repeat;
      background-position: 92% 50%;
      @media ($tablet-widths) {
        background-position: 97% 50%;
      }
      @media ($desktop-widths) {
        // width: 314px;
        background-position: 94% 50%;
      }
      &:hover {
        background-image: url("../img/icon-phone.svg"), linear-gradient(to left, #e6e6e6 58px, #e5e5e5 58px);
        transition: 0.3s;
      }
      &:focus {
        background-image: url("../img/icon-phone.svg"), linear-gradient(to left, #e6e6e6 58px, #fff 58px);
      }
    }

    &--mail {
      background-image: url("../img/icon-mail.svg"), linear-gradient(to left, #e6e6e6 58px, #f2f2f2 58px);
      background-repeat: no-repeat;
      background-position: 92% 50%;
      @media ($tablet-widths) {
        background-position: 96.5% 50%;
      }
      @media ($desktop-widths) {
        // width: 314px;
        background-position: 93.5% 50%;
      }

      &:hover {
        background-image: url("../img/icon-mail.svg"), linear-gradient(to left, #e6e6e6 58px, #e5e5e5 58px);
        transition: 0.3s;
      }

      &:focus {
        background-image: url("../img/icon-mail.svg"), linear-gradient(to left, #e6e6e6 58px, #fff 58px);
      }
    }
  }
}
