.video {
  margin-top: 8px;
  margin-bottom: 43px;
  @media ($tablet-widths) {
    margin-top: 10px;
    margin-bottom: 45px;
  }
  @media ($desktop-widths) {
    margin-top: 0;
    margin-bottom: 89px;
  }
}
